.nav-link {
    margin-top: 5px;
    padding: 5px;
}

.word-link {
    margin: 5px;
}

.custom-button {
    border: none;
    background: none;
    color: #ff9580;
}

.custom-button:hover {
    background-color: #ff0000;
    transition: background-color 0.5s; /* Adjust the duration of the fade effect */
}