{% extends "base.html" %}

{% block title %} - Learn Words{% endblock %}

{% block content %}
    {% if word %}
        <!-- Display the word to review -->
        <h1>{{ word.word }}
            {% if word.is_duplicated %}
                <small>({{ word.id }})</small>
            {% endif %}
        </h1>

        <!-- Button to show the definition of the word -->
        <button id="show-definition-button" type="button" class="btn btn-primary">Show Definition</button>


        <!-- Hidden div containing the definition and buttons for user input -->
        <!-- todo: make it truly hidden, since it's still there for the end user, -->
        <!-- just hidden, can easily be checked in the source -->
        <div id="definition" style="display:none;">
            <br>
            <!-- Display the definition of the word -->
            <p>{{ word.definition }}</p>

            <!-- Form for submitting user input (got it/didn't get it) -->
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="got_it" value="true" class="btn btn-success btn-sm">I got it</button>
                <button type="submit" name="got_it" value="false" class="btn btn-danger btn-sm">I did not get it</button>
            </form>
        </div>

        <!-- JavaScript to show the definition when the button is clicked -->
        <script>
            document.getElementById("show-definition-button").addEventListener("click", function() {
                document.getElementById("definition").style.display = "block";
            });
        </script>
    {% else %}
        <!-- Display the appropriate status message -->
        <h1>{{ message }}</h1>
    {% endif %}
{% endblock %}
