{% extends "base.html" %}

{% block title %} - Manage Words{% endblock %}

{% block content %}
    <!-- Heading for the manage words page -->
    <h1>Manage Words</h1>
    <!-- This div contains the form for creating a new word. -->
    <div>
        <!-- The heading for the form. -->
        <h4>Create New Word</h4>

        <!-- The form itself. When submitted, it sends a POST request to the 'manage_words' URL. -->
        <form method="post" action="{% url 'flashcards:manage_words' %}">
            <!-- The CSRF token is a security feature that prevents cross-site request forgery attacks. -->
            {% csrf_token %}

            <!-- This div contains the input field for the new word. -->
            <div style="display: flex; align-content: space-around">
                <!-- The label for the input field. -->
                <label for="word">Word:</label>
                <!-- The input field. The 'required' attribute means that the form cannot be submitted without entering a word. -->
                <input type="text" name="word" id="create-word" required
                       style="height: 25px; margin-left: 10px; margin-right: 10px; padding-bottom: 5px;">
                <!-- A container for displaying any warning messages. -->
                <div class="alert-container" id="word-alert" style="height: 25px; display: flex; align-items: center;">
                    <!-- If there are any messages (such as warning messages), they are displayed here. -->
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <!-- Each message is displayed in a list item. The message's tags are used as CSS classes for the list item. -->
                                <li{% if message.tags %}
                                    class="custom-alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>

            <!-- A line break for spacing. -->
            <br>
            <!-- This div contains the input field for the word's definition. -->
            <div style="display: flex; align-content: center">
                <!-- The label for the definition input field. -->
                <label for="definition">Definition:</label>
                <!-- The input field for the definition. -->
                <textarea name="definition" id="create-definition" required
                          style="height: 50px; margin-left: 10px"></textarea>
            </div>

            <!-- Another line break for spacing. -->
            <br>
            <!-- The submit button for the form. -->
            <input type="submit" value="Create Word" class="btn btn-primary">

        </form>
    </div>

    <div style="display: flex; justify-content: flex-start">

    <!-- This div contains the list of existing words. -->
    <div>
        <!-- The heading for the list. -->
        <h4>Existing Words</h4>

        <!-- The list itself. Each item in the list is a word. -->
        <ul id="word-list" style="padding-left: 0; margin-top: 0;">
            <!-- This loop iterates over each word in the 'words' variable (which should be a list of words). -->
            {% for word in words %}
                <div>
                    <!-- Each word is displayed in a list item. The data attributes store the word's ID, word itself, and its definition. -->
                    <li data-id="{{ word.id }}" data-word="{{ word.word }}" data-definition="{{ word.definition }}"
                        style="display: flex; align-items: center;">

                        <!-- The word's ID, word, and definition are displayed in a link. Clicking the link does not navigate to a new page. -->
                        <a href="javascript:void(0)" class="word-link">{{ word.id }}: {{ word.word }}
                            - {{ word.definition }}</a>

                        <!-- This form is for deleting the word. When submitted, it sends a POST request to the 'delete_word' URL, with the word's ID as a parameter. -->
                        <form method="post" action="{% url 'flashcards:delete_word' word.id %}" class="delete-form"
                              style="margin-left: -5px;">

                            <!-- The CSRF token is a security feature that prevents cross-site request forgery attacks. -->
                            {% csrf_token %}

                            <!-- The submit button for the form. It is styled as an 'X' icon. -->
                            <button class="delete-button" type="submit">
                                <i class="fa-regular fa-circle-xmark"></i>
                            </button>
                        </form>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>


    <!-- This div contains the form for updating a word. It is indented slightly to the right. -->
    <div style="margin-left: 10px">
        <!-- The heading for the form. It is hidden by default, and should be shown when a word is selected for updating. -->
        <h4 id="update-heading" style="display: none;">Update Word</h4>

        <!-- This is the form for updating a word. The action URL depends on whether a word is selected for updating. -->
        {% if word and word.id %}
            <!-- If a word is selected, the form will send a POST request to the 'manage_words_with_id' URL, with the word's ID as a parameter. -->
            <form method="post" action="{% url 'flashcards:manage_words_with_id' word.id %}"
                  id="update-form" style="display: none;">
        {% else %}
            <!-- If no word is selected, the form will send a POST request to the 'manage_words' URL. -->
            <form method="post" action="{% url 'flashcards:manage_words' %}" id="update-form"
                  style="display: none;">
        {% endif %}
        <!-- The CSRF token is a security feature that prevents cross-site request forgery attacks. -->
        {% csrf_token %}

        <!-- This hidden input field stores the ID of the word selected for updating. -->
        <input type="hidden" name="word_id" id="update-word-id">

        <!-- This section displays the ID of the word selected for updating. -->
        <div style="display: flex; align-content: space-around">
            <label id="id-label">ID: {{ word.id }}</label>
        </div>

        <!-- This section contains the input field for updating the word. -->
        <div style="display: flex; align-content: space-around">
            <label for="word">Word:</label>
            <input type="text" name="word" id="update-word" required
                   style="height: 25px; margin-left: 10px; margin-right: 10px; padding-bottom: 5px;">
        </div>

        <!-- This line break creates some vertical space before the next section. -->
        <br>

        <!-- This section contains the input field for updating the definition of the word. -->
        <div style="display: flex; align-content: center">
            <label for="definition">Definition:</label>
            <textarea name="definition" id="update-definition" required
                      style="height: 50px; margin-left: 10px"></textarea>
        </div>

        <!-- This line break creates some vertical space before the submit button. -->
        <br>

        <!-- The submit button for the form. When clicked, it will send the form data to the server. -->
        <input type="submit" value="Update Word" class="btn btn-primary">
        </form>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        // Get all delete forms
        const deleteForms = document.querySelectorAll('.delete-form');

        // Add an event listener to each form
        deleteForms.forEach(form => {
            form.addEventListener('submit', function (event) {
                // Prevent the form from submitting
                event.preventDefault();

                // Confirm with the user
                const confirmDelete = confirm('Are you sure you want to delete this word? This action cannot be undone.');

                // If the user confirmed, submit the form
                if (confirmDelete) {
                    form.submit();
                }
            });
        });

        // Get all word links
        const wordLinks = document.querySelectorAll('.word-link');

        // Add an event listener to each word link
        wordLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                // Prevent the link from navigating
                event.preventDefault();

                // Get the parent li element
                const li = event.target.closest('li');

                // Get the word ID from the data-id attribute of the li element
                const wordId = li.dataset.id;

                document.getElementById('update-word-id').value = wordId;

                // Update the ID label text
                document.getElementById('id-label').textContent = `ID: ${wordId}`;

                // Update the action URL of the update form
                document.querySelector('#update-form').action = `{% url 'flashcards:manage_words' %}`.replace('0', wordId);

                // Update the update form fields with the word data from the li element
                document.querySelector('#update-word').value = li.dataset.word;
                document.querySelector('#update-definition').value = li.dataset.definition;

                // Show the update form
                document.querySelector('#update-heading').style.display = 'block';
                document.querySelector('#update-form').style.display = 'block';
            });
        });

        // todo: make this work
        {#// Get the create word input field#}
        {#const createWordInput = document.querySelector('#create-word');#}
        {##}
        {#// Add an event listener for the keyup event#}
        {#createWordInput.addEventListener('keyup', function (event) {#}
        {#    // Get the current value of the input field#}
        {#    const word = event.target.value;#}
        {##}
        {#    // Make an AJAX call to check if the word already exists#}
        {#    fetch(`{% url 'flashcards:check_word' %}?word=${word}`)#}
        {#        .then(response => response.json())#}
        {#        .then(data => {#}
        {#            // Update the input field value with the response#}
        {#            createWordInput.value = data.exists ? '' : word;#}
        {##}
        {#            // Get the alert container#}
        {#            const alertContainer = document.querySelector('#word-alert');#}
        {##}
        {#            // Remove any existing alerts#}
        {#            alertContainer.innerHTML = '';#}
        {##}
        {#            // If the word already exists, show an alert#}
        {#            if (data.exists) {#}
        {#                const alert = document.createElement('div');#}
        {#                alert.classList.add('alert', 'alert-warning', 'custom-alert');#}
        {#                alert.setAttribute('role', 'alert');#}
        {#                alert.textContent = 'This word already exists.';#}
        {#                alertContainer.appendChild(alert);#}
        {#            }#}
        {#        });#}
        {# });#}


    </script>
{% endblock %}

